@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 24, 25, 26;
  --foreground: 228, 230, 235;
  --foreground-secondary: 176, 179, 184;
  --primary: 29, 133, 252;
  --primary-foreground: 117, 182, 255;
}

@layer base {
  html {
    @apply bg-background text-foreground font-sans scroll-smooth;
  }

  body {
    @apply antialiased flex flex-col min-h-dvh overflow-x-hidden leading-relaxed gap-4;
  }

  main {
    @apply flex-1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
