@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 24, 25, 26;
  --foreground: 228, 230, 235;
  --foreground-secondary: 176, 179, 184;
}

@layer base {
  html {
    @apply bg-background text-foreground font-sans;
  }

  body {
    @apply antialiased flex flex-col h-dvh min-h-dvh overflow-x-hidden leading-relaxed px-6 py-12 gap-4;
  }

  main {
    @apply flex-1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
